body {
  background-color: lightgrey;
}

.item__row {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  font-size: 30px;
  background-color: blanchedalmond;
  width: 60px;
  height: 60px;
  border: 4px solid black;
}
